<html>

<head>
    <meta charset="UTF-8">
    <script src="front.js" type="text\javascript"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Anomaly Detection Server</title>
</head>

<body>
    <h1 class="topic">
        Anomaly Detection Server
    </h1>

    <form name="webForm" action="/check" method="post" enctype="multipart/form-data" target="result">
        <table width="100%">
            <tr>
                <td width="30%">
                    <div class="loadFile">
                        <p>File 1 (without anomalies):
                            </br>
                            <input type="file" name="file1" class="chooseFile" required>
                        </p>
                    </div>
                    <div class="loadFile">
                        <p>File 2 (to check for anomalies):
                            </br>
                            <input type="file" name="file2" class="chooseFile" required>
                        </p>
                    </div>
                    <div class="middle">
                        <br>
                        <table width="100%">
                            <tr>
                                <td>
                                    <select name="Algorithm" class="selectbox">
                                        <option name="choose">-- choose --</option>
                                        <option name="hybrid">hybrid</option>
                                        <option name="regression">regression</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="submit" value="calc" class="leg">
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </td>
                <td width="70%" class="frame" style="background-color: gainsboro;">
                    <iframe id="frame" name="result" width="97%" height="200"></iframe>
                </td>
            </tr>
        </table>
    </form>
    <p class="end">By Ziv Naim and Ron Zamir - Bar Ilan University</p>
    <!-- <script>
        getElementById("frame").width = window.innerWidth / 2;
        getElementById("frame").height = window.innerHeight / 2;
    </script> -->

    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>