<html>

<head>
    <meta charset="UTF-8">
    <script src="front.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Anomaly Detection Server</title>
</head>

<body>
    <h1 class="topic">
        Anomaly Detection Server
    </h1>

    <form name="webForm" action="/check" method="post" enctype="multipart/form-data" target="result">
        <table width="100%" height="70%">
            <tr>
                <td width="30%">
                    <div class="loadFile">
                        <p>File 1 (without anomalies):
                            </br>
                            <input type="file" name="file1" class="chooseFile" required>
                        </p>
                    </div>
                </td>
                <td width="30%">
                    <div class="loadFile">
                        <p>File 2 (to check for anomalies):
                            </br>
                            <input type="file" name="file2" class="chooseFile" required>
                        </p>
                    </div>
                </td>
                <td width="40%" class="mid">
                    <table width="100%">
                        <tr>
                            <td width="70%">
                                <select name="Algorithm" class="selectbox">
                                    <!-- <option name="choose">-- choose --</option> -->
                                    <option name="hybrid">hybrid</option>
                                    <option name="regression">regression</option>
                                </select>
                            </td>
                            <td width="30%">
                                <input type="submit" value="calc" class="leg">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr height="90%">
                <td colspan="4" class="frame" style="background-color: gainsboro;" name="place">
                    <iframe id="frameId" name="result" width="97%" height="500"></iframe>
                </td>
            </tr>
        </table>
    </form>
    <p class="end">By Ziv Naim and Ron Zamir - Bar Ilan University</p>
</body>

</html>