body {
    /* background-color: #ffffcc; */
    background-color: #e6faff;
}

.topic {
    text-align: center;
    font-size: 70px;
    font-family: Algerian, narkisim;
    color: #cccfff;
    text-shadow: 5px 5px darkgray;
}

.chooseFile {
    text-align: center;
    font-family: 'BN Zarbobim', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.loadFile {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: narkisim;
    /* background-color: #ccffff; */
    background-color: #99ebff;
    border: 2px solid;
    border-radius: 10px;
    /* border-color: #ffffcc; */
    border-color: #e6faff;
}

.frame {
    /* background-color: #ffffcc; */
    background-color: #e6faff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    border-color: #99ebff;
}

#frameId {
    border: none;
}

.mid {
    text-align: center;
    background-color: #99ebff;
    border-radius: 10px;
    border: 2px solid;
    /* border-color: #ffffcc; */
    border-color: #e6faff;
}

.selectbox {
    text-align: center;
    /* background-color: #ccffff; */
    background-color: #cccfff;
    border-color: #cccfff;
    border-radius: 3px;
    font-family: calibri;
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    text-align: center;
    font-size: 25px;
    background-color: #99ebff;
    border-color: #cccfff;
    border-radius: 3px;
    font-family: calibri;
    /* color: #cccfff; */
    color: white;
}

.btn:hover {
    background-color: #cccfff;
    color: white;
}

.end {
    font-family: narkisim;
    text-align: center;
}